$darkmode: true;
$primary: #70d2ff;
$onPrimary: #003549;
$primaryContainer: #004d68;
$onPrimaryContainer: #bee8ff;
$secondary: #b4c9d6;
$onSecondary: #1f333d;
$secondaryContainer: #364954;
$onSecondaryContainer: #d1e6f3;
$tertiary: #c8c1ea;
$onTertiary: #302c4c;
$tertiaryContainer: #474364;
$onTertiaryContainer: #e5deff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e1e3e5;
$surface: #191c1e;
$onSurface: #e1e3e5;
$surfaceVariant: #41484d;
$onSurfaceVariant: #c0c7cd;
$outline: #8a9297;
$shadow: #000000;
$inverseSurface: #e1e3e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #006688;
